name: Release

on:
  workflow_run:
    workflows: [ Build ]
    types:
      - completed
  push:
    branches: [ dev ]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'

      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable'

      - run: flutter pub get

      - run: flutter build apk --release

      - uses: actions/upload-artifact@v1
        with:
          name: release-apk
          path: build/app/outputs/apk/release/app-release.apk

      - name: Fetch credential file
        uses: timheuer/base64-to-file@v1.1
        with:
          encodedString: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
          fileName: credential_file.json
          fileDir: $GITHUB_WORKSPACE/Firebase-Distribution-Github-Action/

      - name: Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1.3.4
        with:
          appId: ${{secrets.FIREBASE_APP_ID}}
          serviceCredentialsFile: Firebase-Distribution-Github-Action/credential_file.json
          groups: testers
          file: build/app/outputs/apk/release/app-release.apk

